@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

a{
    all: unset;
}

body{
    display: flex;
    justify-content: center;
    height: 100vh;
}

button{
    all: unset;
}

.left{
    width: 345px;
    display: flex;
    flex-direction: column;
}

.logo{
    font-family: 'Poppins', sans-serif;
    line-height: 45px;
    line-height: 150%;
    display: flex;
    margin-left: 43px;
    margin-top: 50px;
    gap: 24px;
    font-size: 30px;
    color: #151d48;
    align-items: center;
    justify-content: center
}

.menu{
    margin-left: 46px;
    width: 252px;
    display: flex;
    flex-direction: column;
    margin-top: 49px;
    align-items: center;
    gap: 48px;
    font-size: 18px;
    color: #737791;
    margin-right: 47px;
}

.menu-button{
    display: flex;
    cursor: pointer;
    height: 64px;
    align-items: center;
    gap: 24px;
    width: 252px;
    padding-left: 24px;
    border-radius: 16px;
}

.menu-button:hover{
    box-shadow: 8px 8px 20px rgba(181, 177, 177, 0.641);
}

.right{
    width: 100%;
}

.top-bar{
    height: 15%;
    padding-top: 30px;
    padding-left: 40px;
    padding-right: 44px;
    padding-bottom: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.top-bar input{
    border-radius: 16px;
    border: none;
    background-color: #f9fafb;
    height: 60px;
    width: 513px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 24px;
}

.contry select{
    border: none;
}

.profile{
    display: flex;
    gap: 20px;
    align-items: center;
}

.area{
    background-color: #FAFBFC;  
    height: 85%;
    padding-top: 32px;
    padding-left: 32px;
}

.contas{
    background-color: white;
    width: 877px;
    height: 348px;
    padding: 32px;
    border-radius: 20px;
    box-shadow: 8px 8px 16px #d4d6da33;
}

.title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 43px;
}

.title select{
    border: none;
}

.title h4{
    margin-bottom: 4px;
}

.option{
    display: flex;
    gap: 30px;
}

.op:hover{
    box-shadow: 8px 8px 20px rgba(255, 226, 229, 0.8);
}

.op{
    background-color: rgb(255, 226, 229);
    width: 184px;
    height: 184px;
    border-radius: 16px;
    padding-left: 20px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    cursor: pointer;
}
 .op p{
    color: #425166;
}

.op h3{
    color: #151d48;
}

.op img{
    margin-bottom: 16px;
    max-width: 32px;
    max-height: 32px;
}