{% extends 'base.html' %}
{% load static %}

{%block title%}Dashboard{%endblock%}

{%block conteudo%}
<div class="area">
    <div class="contas">
        <div class="title">
            <div>
                <h4>Instagram</h4>
                <select id="cars" name="cars">
                    {% for i in conta %}
                        <option value="volvo" name="account_insta">{{ i }} </option>
                    {% endfor %}    
                </select>
            </div>
        </div>
        <div class="option">
            <div class="op">
                <img src="{% static 'icon/upload.png' %}" alt="">
                <h3>Publicações</h3>
                <p>Total: 5680</p>
            </div>
            <div class="op">
                <img src="{% static 'icon/seguidor.png' %}" alt="">
                <h3>Seguidores</h3>
                <p>Total: 89</p>
            </div>
            <button type="submit">
                <div class="op">
                    <img src="{% static 'icon/plus.png' %}" alt="">
                    <h3>Adicionar</h3>
                    <p>Foto, vídeo, reels ...</p>
                </div>
            </button>
        </div>
    </div>
</div>
{%endblock%}
